* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

.menu_container {
    width: 60%;
    margin: 0 auto;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.menu_container::after {
    content:"";
    display: table;
    clear: both;
}

.container::after {
    content:"";
    display: table;
    clear: both;
}

/*MENU*/

.fixed {
    position: fixed;
    background-color: #F5F8FA;
    width: 100%;
}

#top_bord {
    border-top: 1px solid #CBD6E2;
    border-bottom: 1px solid #CBD6E2;
}

.l_menu {
    float: left;
    width: 50%;
    font-weight: 600;
}

.l_menu a {
    color: #34485C;
}

.fix, .fix li {
    list-style-type: none;
    float: left;
}

.fix {
    font-size: 15px;
    line-height: 70px;
}

.l_menu .fa-globe {
    padding-right: 5px;
}

.fa-caret-down {
    padding: 0 10px;
    color: #7D98B6;
 }

.l_menu .fa-caret-down {
    border-right: 1px solid #7D98B6;
}

.l_menu li:last-child {
    padding-left: 10px;
}

.r_menu {
    float: right;
    width: 30%;
}

.r_menu .fa-search{
    color: #00A4BD;
    padding: 0 20px;
    margin-right: 10px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

#first_but {
    border: 1px solid #ff7a59;
    color: #ff7a59;;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 3px;
}

.r_menu #first_but:hover {
    background-color: #fff8f6;
}

#default_but {
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #ff7a59;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}

#default_but:hover {
    background-color: #ff8f73;
    color: white;
}

#bottom_bord {
    border-bottom: 1px solid rgba(203,214,226,0.3);
    height: 85px;
}

.l_first_menu {
    float: left;
    width: 40%;
}

.l_first_menu img {
    padding-top: 30px;
}

.r_first_menu {
    float: left;
    width: 60%;
}

.r_f_menu {
    float: left;
}

.r_f_menu li{
    font-weight: 700;
    line-height: 85px;
    margin: 0 20px;

}

.r_f_menu a {
    color: #34485C;
}

.extra {
    background-color: #F25474;
    text-align: center;
    height: 80px;
    width: 100%;
}

#info_extr {
    width: 70%;
    margin: 0 auto;
}

.extra p {
    line-height: 80px;
    display: inline-block;
    color: white;
    font-weight: 700;
}

.extra #first_but {
    border: 0;
    color: #34485C;
    padding: 10px 15px;
    margin-left: 15px;
}

.extra #first_but:hover {
    background-color: rgba(255,255,255,0.9);
}

#jumb_color {
    background-image: linear-gradient(-90deg, #FEF6EF, #FEF0ED)
}

.jumbo {
    float: left;
}

.jumbo_left {
    float: left;
    width: 40%;
    margin-top: 70px;
}

.jumbo_left h1 {
    font-weight: 700;
    font-size: 55px;
    color: #33475B;
}

.jumbo_left p {
    padding: 10px 10px 30px 0;
    color: #33475B;
}

.jumbo_left #default_but {
    padding: 20px 30px;
    margin: 0;
}

.jumbo_left p:last-child {
    padding-top: 40px;
    font-size: 15px;
    font-weight: 600;
    max-width: 45%;
}

/*#jumbo_img {
    background-image: url("https://i.postimg.cc/W4tGDrzm/Immagine.png");

    height: 100px;
}*/

/*inizio sezioni*/

#nothing {
    height: 70px;
}

.sez {
    color: #33475B;
}

#first_sez, #second_sez {
    background-color: #F5F8FA;
}

#first_sez_top {
    text-align: center;
    padding: 50px 0 50px 0;
}


#first_sez_top img {
    width: 25%;
}

#first_sez_top h2 {
    font-weight: 700;
    color: #33475B;
    font-size: 30px;
}

#first_sez_top p {
    font-size: 15px;
    max-width: 75%;
    margin-left: 10%;
    padding-top: 20px;
}

#f_sez_centr {
    background-color: #FFFFFF;
    height: 300px;
    border: 2px solid rgba(203,214,226,0.3);
    padding: 50px 100px 50px 100px;
}

#centr_left {
    float: left;
    width: 50%;

}

#centr_right {
    float: left;
    width: 50%;
}

#centr_left *, #centr_right *:not(#img_zone) {
    float: left;
}

#img_zone {
    width: 100%;
}

#centr_left img {
    width: 60%;
}

#centr_left a {
    margin-left: 55px;
    margin-top: 25px;
}

#centr_right p {
    font-size: 13px;
    padding: 20px 0 15px 0;
}

hr {
    width: 50%;
    position: relative;
    top:10px;
    left: 10px;
}

.specs span {
    padding: 10px;
    font-size: 13px;
}

#second_sez {
    padding-bottom: 125px;
}

.fa-check-circle {
    color: #FF7A59;
    padding-right: 5px;
}

.rect {
    float: left;
    width: 30%;
    height: 465px;
    background-color: #FFFFFF;
    border: 2px solid rgba(203,214,226,0.3);
    text-align: center;
    margin-top: 20px;
}

.rect:not(:first-child) {
    margin-left: 5%;
}

.sty_rect img {
    height: 100px;
    padding-top: 10px;
}

.sty_rect h3 {
    font-weight: 700;
    font-size: 25px;
    padding: 10px 0 10px 0;
}

.sty_rect p {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    font-size: 13px;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid rgba(203,214,226,0.5);
}

.sty_rect h4 {
    padding: 15px 0 10px 0;
    font-size: 13px;
}

.sty_rect ul {
    list-style-type: none;
    text-align: left;
    line-height: 25px;
    width: 70%;
    margin: 0 auto;
    font-size: 13px;
    margin-bottom: 20px;
}

.sty_rect a {
    margin-bottom: 20px;
}

#thir_sez {
    background-image: linear-gradient(90deg, #00A4BD, #00BDA5);
    color: white;
    padding-bottom: 60px;
}

.title_sez {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    line-height: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.title_sez h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
    line-height: 35px;
}

.row {
    float: left;
    width: 100%;
    text-align: center;
}

.square {
    float: left;
    width: 25%;
}

.dist {
    padding-bottom: 35px;
    padding-top: 35px;
}

#first_row .square {
    border-bottom: 1px solid white;
}

.square:nth-child(1n+1):not(:nth-child(4)) {
    border-right: 1px solid white;
}

.square p:not(#info) {
    font-size: 40px;
    font-weight: 700;
}

.square #info {
    font-size: 12px;
}

.square span {
    font-size: 15px;
}

.text_left {
    float: left;
    width: 50%;
    margin-top: 100px;
}

.text_1 h2 {
    font-weight: 700;
    font-size: 40px;
}

.text_1 p {
    max-width: 50%;
    letter-spacing: 2px;
    line-height: 25px;
}

.spons_right {
    float: left;
    width: 50%;
    margin-top: 130px;
}

#img_size {
    width: 100%;
    padding-left: 20px;
}

#spons_first {
    padding-bottom: 30px;
}

#fif_sez {
    margin-top: 150px;
    margin-bottom: 150px;
}

.photo_right {
    float: left;
    width: 50%;
    text-align: center;
}

.photo_right img {
    float: right;
    width: 70%;
}

.text_2 h2 {
    font-size: 35px;
}

.text_2 p {
    padding-top: 15px;
    padding-bottom: 35px;
}

.text_2 #default_but {
    margin-left: 0px;
    padding: 20px 30px;
}

.text_2  #small_p {
    margin-top: 20px;
    font-size: 14px;
}

/*FOOTER*/

#footer_sez {
    background-color: #33475B;
    color: #cbd6e2;
}

#footer_sez a:not(#default_but) {
    color: #cbd6e2;
    text-decoration: none;
}

#footer_sez a:hover:not(#default_but) {
    color: #7fd1de;
}

.top_foot {
    float: left;
    width: 100%;
    padding-top: 75px;
}

.foot_info {
    float: left;
    width: 25%;
}

.foot_info h4 {
    color:white;
    font-weight: 700;
    padding-bottom: 15px;
}

.foot_info ul {
    list-style-type: none;
    text-decoration: none;
}

.foot_info li {
    padding-bottom: 15px;
    font-size: 14px;
}

.foot_info a {
    padding-left: 0px;
    padding-right: 25%;
}

.foot_info #default_but {
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    margin-left: 0;
    background-color: white;
    color: #33475b;
}

.foot_info #default_but:hover {
    background-color: rgba(255,255,255,0.9);
}

.soc_icons {
    margin-top: 20px;
    font-size: 20px;
}

.soc_icons a {
    padding-right: 0px;
}

.soc_icons a:not(:first-child) {
    padding-left: 20px;
}

.languages {
    text-align: center;
    margin: 50px 0 50px 0;
    border-bottom: 1px solid #cbd6e2;
    padding-bottom: 30px;
}

.languages a {
    padding: 10px;
}

.end {
    float: left;
    width: 100%;
}

.left_end {
    float: left;
    width: 75%;
}

.left_end a{
    padding-left: 0;
}

.right_end {
    float: right;
    width: 25%;
    text-align: right;
}

.right_end a {
    padding: 10px;
}
